<a href="https://colab.research.google.com/github/DogaSahin/Twitter_Sentiment_Analysis/blob/main/Main_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Training Model & Preparing a proper train/test dataset

In [ ]:
!pip install -q kaggle
from google.colab import files
files.upload()

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list

In [ ]:
!kaggle datasets download -d kazanova/sentiment140
! unzip sentiment140.zip -d sample_data

sentiment140.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  sentiment140.zip
  inflating: sample_data/training.1600000.processed.noemoticon.csv

Importing necesary libraries

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer 
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_confusion_matrix
from matplotlib import rcParams
from collections import Counter
from nltk.tokenize import RegexpTokenizer
import re
import string

import warnings
warnings.filterwarnings("ignore")

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

Getting a labeled data

In [ ]:
data = pd.read_csv("sample_data/training.1600000.processed.noemoticon.csv", encoding = "ISO-8859-1", engine="python")
data.columns = ["label", "time", "date", "query", "username", "text"]
data.head()

   label  ...                                               text
0      0  ...  is upset that he can't update his Facebook by ...
1      0  ...  @Kenichan I dived many times for the ball. Man...
2      0  ...    my whole body feels itchy and like its on fire
3      0  ...  @nationwideclass no, it's not behaving at all....
4      0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

In [ ]:
data.columns
print(len(data))
data.shape
data.info()
data.dtypes

1599999
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   label     1599999 non-null  int64
 1   time      1599999 non-null  int64
 2   date      1599999 non-null  object
 3   query     1599999 non-null  object
 4   username  1599999 non-null  object
 5   text      1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

label        int64
time         int64
date        object
query       object
username    object
text        object
dtype: object

Making a more meaningfull dataset

In [ ]:
# Selecting the text and label coloumn Assigning 1 to Positive sentment 4

data=data[['text','label']]
data['label'][data['label']==4]=1

# Separating positive and negative tweets
positive_data = data[data['label'] == 1]
negative_data = data[data['label'] == 0]

# taking half of the dataset for try
positive_data = positive_data.iloc[:int(80000)]
negative_data = negative_data.iloc[:int(80000)]

# Combining positive and negative tweets & making all tweets lowercase so we can work better
data = pd.concat([positive_data, negative_data])
data['text']=data['text'].str.lower()

data['text'].head()
data.tail()

                                                    text  label
79995  @itsaroy they hurt my feelings when they don't...      0
79996  excited that josh will be back in erie in an h...      0
79997  plans of going to the club have been dashed. n...      0
79998                                i hate car washing       0
79999  cannot actually keep my eyes open.., i feel li...      0

Cleaning and removing punctuations

In [ ]:
english_punctuations = string.punctuation
punctuations_list = english_punctuations
def cleaning_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
data['text']= data['text'].apply(lambda x: cleaning_punctuations(x))
data['text'].head()

799999            i love health4uandpets u guys r the best
800000    im meeting up with one of my besties tonight c...
800001    darealsunisakim thanks for the twitter add sun...
800002    being sick can be really cheap when it hurts t...
800003       lovesbrooklyn2 he has that effect on everyone
Name: text, dtype: object

Removing email & URL's

In [ ]:
def cleaning_email(data):
    return re.sub('@[^\s]+', ' ', data)

data['text']= data['text'].apply(lambda x: cleaning_email(x))

def cleaning_URLs(data):
    return re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',data)

data['text'] = data['text'].apply(lambda x: cleaning_URLs(x))
data['text'].head()

799999            i love health4uandpets u guys r the best
800000    im meeting up with one of my besties tonight c...
800001    darealsunisakim thanks for the twitter add sun...
800002    being sick can be really cheap when it hurts t...
800003       lovesbrooklyn2 he has that effect on everyone
Name: text, dtype: object

Cleaning and removing Numeric numbers

In [ ]:
def cleaning_numbers(data):
    return re.sub('[0-9]+', '', data)

data['text'] = data['text'].apply(lambda x: cleaning_numbers(x))
data['text'].head()

799999             i love healthuandpets u guys r the best
800000    im meeting up with one of my besties tonight c...
800001    darealsunisakim thanks for the twitter add sun...
800002    being sick can be really cheap when it hurts t...
800003        lovesbrooklyn he has that effect on everyone
Name: text, dtype: object

Cleaning stopwords from the dataset

In [ ]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
print(stop_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
{'their', "you're", 'than', "she's", 'few', 'after', "couldn't", 'here', 'isn', 'through', 'each', "don't", 'very', 'mustn', 'nor', 'only', 'too', 'ours', "you'll", "you've", 'an', 'being', 'doing', 'this', 'who', 'where', "isn't", 'been', 'are', 'in', "needn't", "you'd", 'themselves', 'hadn', 'had', 't', "it's", 'now', 'before', "weren't", 'the', 'it', 'am', 'of', 'out', 'but', 'm', 're', 'we', 'mightn', 'so', 'up', 'wouldn', 'were', 'll', 'didn', 'at', 'again', 'hasn', 'does', 'd', 'be', 'until', 'shan', "that'll", 'over', "won't", 'against', 'not', 'his', 'own', 'wasn', 'he', 'all', 'yours', 'has', 'just', 'a', 'into', 'down', 'if', 'having', "shouldn't", 'herself', 'that', 'yourselves', 's', 'most', 'its', 'himself', 'itself', 'about', 'was', 'above', 'once', 'can', 'needn', "mightn't", 'myself', 'yourself', 've', "doesn't", 'when', 'ourselves', 'do', 'aren', 'ain', 'with', "should've", 'i', "didn't", 'from', "wouldn't", 'doesn', 'because', 'ma', "wasn't", 'shouldn', 'my', 'theirs', 'under', 'there', 'y', "mustn't", 'which', 'or', 'below', 'and', 'by', "hasn't", 'should', 'them', 'have', 'why', 'weren', 'whom', 'him', 'some', "haven't", 'what', 'other', 'such', 'during', "aren't", 'between', 'haven', 'no', 'hers', 'as', 'is', 'on', 'both', 'don', 'for', 'our', 'o', 'you', 'then', 'won', 'couldn', 'will', 'me', "hadn't", 'same', 'she', 'further', 'her', 'how', 'these', 'off', 'any', 'while', 'to', "shan't", 'your', 'more', 'did', 'they', 'those'}

In [ ]:
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stop_words])
data['text'] = data['text'].apply(lambda text: cleaning_stopwords(text))
data['text'].head()

799999                    love healthuandpets u guys r best
800000    im meeting one besties tonight cant wait girl ...
800001    darealsunisakim thanks twitter add sunisa got ...
800002    sick really cheap hurts much eat real food plu...
800003                        lovesbrooklyn effect everyone
Name: text, dtype: object

tokenization of tweet

In [ ]:
tokenizer = RegexpTokenizer(r'\w+')
data['text'] = data['text'].apply(tokenizer.tokenize)
data['text'].head()

799999             [love, healthuandpets, u, guys, r, best]
800000    [im, meeting, one, besties, tonight, cant, wai...
800001    [darealsunisakim, thanks, twitter, add, sunisa...
800002    [sick, really, cheap, hurts, much, eat, real, ...
800003                    [lovesbrooklyn, effect, everyone]
Name: text, dtype: object

Stemming

In [ ]:
st = nltk.PorterStemmer()
def stemming_on_text(data):
    text = [st.stem(word) for word in data]
    return data

data['text']= data['text'].apply(lambda x: stemming_on_text(x))
data['text'].head()

799999             [love, healthuandpets, u, guys, r, best]
800000    [im, meeting, one, besties, tonight, cant, wai...
800001    [darealsunisakim, thanks, twitter, add, sunisa...
800002    [sick, really, cheap, hurts, much, eat, real, ...
800003                    [lovesbrooklyn, effect, everyone]
Name: text, dtype: object

Applying Lemmatizer

In [ ]:
lm = nltk.WordNetLemmatizer()
def lemmatizer_on_text(data):
    text = [lm.lemmatize(word) for word in data]
    return data

data['text'] = data['text'].apply(lambda x: lemmatizer_on_text(x))
data['text'].head()

799999             [love, healthuandpets, u, guys, r, best]
800000    [im, meeting, one, besties, tonight, cant, wai...
800001    [darealsunisakim, thanks, twitter, add, sunisa...
800002    [sick, really, cheap, hurts, much, eat, real, ...
800003                    [lovesbrooklyn, effect, everyone]
Name: text, dtype: object

Data splitting and model building

In [33]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence

X=data.text
y=data.label

max_len = 500
tok = Tokenizer(num_words=2000)
tok.fit_on_texts(X)
sequences = tok.texts_to_sequences(X)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

print(sequences_matrix.shape)

X_train, X_test, Y_train, Y_test = train_test_split(sequences_matrix, y, test_size=0.3, random_state=2)

(160000, 500)

# TENSORFLOW

In [34]:
def tensorflow_based_model():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(2000,50,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(256,name='FC1')(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(1,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer) 
    return model